<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.21" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
</packages>